body{
    font-family: sans-serif;
    margin-top: 5vmax;
    align-content: center;
    background-color: #1d1837;
    align-items: center;
    font-size: 1em;
}

.titles{
    font-size: 4vmax;
    color: whitesmoke;
    margin-left: 5vw;
    margin-bottom: 1.2vh;

}

#button{
    background-color: rgba(201, 198, 255, 0);
    border: solid 1px whitesmoke;
    padding: 6px;
    border-radius:5px;
    color: whitesmoke;
    font-size: 16px;

}
#button:hover {
    cursor: pointer;
    background: #a4a1d2;
    color: whitesmoke;
    transition: all 0.2s;
    border: solid 1px #a4a1d2;

}

input{

    border: black;
    background-color: aliceblue;
    padding: 6px;
    border-radius:5px;
    font-size: 16px;
    margin: 0 10px 0 5vw;

}


#TodayBox{
    border-radius: 5px;
    padding: 5px;
    margin: 1.2vh 5vw 1.2vh 5vw;
    object-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display:grid;
    color: whitesmoke;
    text-shadow: 2px 1px 4px #000000;
}

#cityname{
    font-size: 3em;
    margin: 15px 0 0 15px;

}

#dateHour{
  display: inline-flex;
}
#date, #hour{

    margin: 5px 15px 5px 15px;
}
.temp{
    display: inline-flex;
    margin-left: 15px;

}
.humidity1{
    margin-left: 15px;
}
#weather{
    margin-right: 15px;
}
.degrees{
    font-size: 4em;
    margin: 15px 0 0 0;
}

#listofdays{
    display: inline-flex;
    list-style: none;
    padding: 5px;
    margin: 5px;
}

li{


}

ul{
    width: 90%;
    object-position: center;
}

#icon{
    display: flex;
}

.intro{
    display: flex;
    align-items: baseline;
    padding: 5px;
}


.intro2{
    display: flex;
    align-items: flex-start;


}

.container{
    display:flex;
justify-content: center;
    margin:1.2vh 5vw 1.2vh 5vw;
}
.daysahead1, .daysahead2, .daysahead3, .daysahead4{
    background-color: rgb(186, 184, 253);
    border-radius:5px;
    padding: 10px;
    color: darkslateblue;
    margin: 1vw;
    justify-content: center;
    flex: 1;
}

@media only screen and (max-width: 600px) {
    .container{
        display:flex;
        justify-content: center;
        margin:1.2vh 5vw 1.2vh 5vw;
        flex-direction: column;
    }
    .daysahead1, .daysahead2, .daysahead3, .daysahead4{
        background-color: rgb(186, 184, 253);
        border-radius:5px;
        padding: 10px;
        color: darkslateblue;
        margin: 1vw;
        justify-content: center;
        flex: 1;
        display: flex;
    }
    .part2{
        display: block;
    }
}
